<div id="content" #content>
  <!-- CLIENTE -->
  <div class="row">
    <div class="col-2">
      <img src="../assets/logo.png" class="center">
    </div>
    <div class="col-10">
      <div class="title">
        <span class="client">Relação &nbsp;de Clientes</span>
        <span class="uc"> & Unidades Consumidoras</span>
      </div>
    </div>
  </div>
  <!-- DASHBOARD -->
  <div class="row">
    <div class="col-4">
      <div class="total">
        <p class="nClientes">11</p>
        <p class="textClientes">TOTAL DE CLIENTES</p>
      </div>
    </div>
    <div class="col-4">
      <div class="abertos">
        <p class="nUCS">4</p>
        <p class="textUCS">TOTAL DE UC'S</p>
      </div>
    </div>
    <div class="col-4">
      <div class="vencidos">
        <p class="nUsina">2</p>
        <p class="textUsina">TOTAL % DE ALOCADOS DE USINA</p>
      </div>
    </div>
  </div>
  <!-- TITULO DA TABELA -->
  <div class="row" id="id">
    <div class="col-5 padding">
      <p class="titles-first-table cliente">Cliente</p>
    </div>
    <div class="col-2 padding">
      <p class="titles-first-table rateio">Rateio</p>
    </div>
    <div class="col-2 padding">
      <p class="titles-first-table inicio">Início Contratual</p>
    </div>
    <div class="col-3 padding">
      <p class="titles-first-table fim">Fim Contratual</p>
    </div>
  </div>
  <!-- UNIDADE CONSUMIDORA -->
  <div class="row" id="barraca">
    <div class="col-5 padding">
      <p class="titles-first-table nameUc">{{x}}</p>
    </div>
    <div class="col-2 padding">
      <p class="titles-first-table rateioUc">7,57%</p>
    </div>
    <div class="col-2 padding">
      <p class="titles-first-table inicioUc">11/09/2021</p>
    </div>
    <div class="col-3 padding">
      <p class="titles-first-table fimUc">11/09/2021</p>
    </div>
  </div>
  <!-- TABELA -->
  <div class="mainTable">
    <div class="color-table">
      <table class="table">
        <tbody>
          <tr>
            <td>Unidade Consumidora 1</td>
            <td>0,78%</td>
            <td>11/09/2021</td>
            <td>14/01/2021</td>
          </tr>
          <tr>
            <td>Unidade Consumidora 1</td>
            <td>0,78%</td>
            <td>11/09/2021</td>
            <td>14/01/2021</td>
          </tr>
          <tr>
            <td>Unidade Consumidora 1</td>
            <td>0,78%</td>
            <td>11/09/2021</td>
            <td>14/01/2021</td>
          </tr>
          <tr>
            <td>Unidade Consumidora 1</td>
            <td>0,78%</td>
            <td>11/09/2021</td>
            <td>14/01/2021</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button (click)="makePDF()">Download</button>
<router-outlet></router-outlet>
